* {
	padding: 0px;
	margin: 0px;
	font-size: 17px;
}

#header img {
	padding-top: 15px;
	padding-left: 12px;
	width: 95%;
}

#header {
	width: 22%;
}

#nav {
	width: 23%;
	padding-top: 1%;
	padding-left: center;
	line-height: 1.3;

}

li {
	font-family: Garamond Premier Pro, serif;
	font-size: 16px;
	padding-top: 5px;
	list-style-type: none;
	color: #797676;

	}

ul {
	margin: auto;
	width: 69%;
}

a:link {
	color: #797676;

	}
a:visited {
	color:#797676;
}

a:hover {
	color: #e4ae25;
	}

#small{
	font-size: 14px;
}
a {
	text-decoration: none;
}

#gallery {
	width: 72%;
	height: 91%;
	position: absolute;
	top: 2%;
	left: 23%;
}

.galleryslide {
	max-width: 100%;
	max-height: 100%;
	display: none;
	position: absolute;
	top: 10px;

}
.galleryslide1 {
	max-width: 100%;
	max-height: 100%;
	position: absolute;
	top: 10px;
}

#reaction {
	width: 72%;
	height: 91%;
	position: absolute;
	top: 2%;
	left: 23%;
}

#reaction > p {
	margin: 8px;
	line-height: 1.2em;
	margin-left: 0;
	width: 80%;
}

#reaction > h1 {
	font-size: 1.7em;
	margin-bottom: 5px;
}

#reaction > h2 {
	font-size: 1.3em;
	margin-bottom: 5px;
}

.video {
	margin-top: 10px;
	margin-bottom: 10px;
}

#footer {
	position: absolute; 
	bottom: 3pt; 
	right: 5pt;
	font-family: Franklin Gothic Book, serif;
	color: #afafaf;
}

#blog-footer {
	font-family: Franklin Gothic Book, serif;
	color: #afafaf;
	margin-top: 5px;
	text-align: right;
}

#footer p, #blog-footer p {
	font-size: 13px;
}
#footer a, #blog-footer a {
	font-size: 13px;
	color:#797676;
}

.highLight a {
	color: #e4ae25;
	}

#ugandagallery, #vegasgallery {
	width: 100%;
	margin-top: 20px;
	display: inline-block;
    /*overflow-x: auto;
    -ms-overflow-x: auto;
    overflow-y: hidden;
    -ms-overflow-y: hidden;*/
    overflow: scroll;
    white-space: nowrap;
    margin-left: 5px;


}


#ugandagallery img {
	height: 420px;

	
}

#ugandatext {
	width:27%;
	float:left;
	white-space: normal;
	padding: 0 5px;
	min-width: 100px;

}

#title {
	font-size: 18px;
	font-weight: bolder;

}

#bylinesmall {
	font-size: 12px;
}

.htmltext {
	font-size: 15px;
	padding-top: 2px;
}

#signa {
	font-style: italic;
	text-align: center;
}
#vegasgallery img {
	height: 420px;

	
}
#bio {
	width: 30%;
	height: auto;
	position: absolute;
	left: 23%;
	
	top:12%;
}
#bio img {width:95%;
	right:5px;
}
#about {
	width: 33%;
	height: auto;
	position: absolute;
	top: 14%;
	left: 52%;

	
}
#signature {
	text-align: center;
}

#italics {
	font-style: italic;
}
#caps {
	font-weight: bolder;
	font-size: 14pt;
}

#controls {
	/*font-size: 15px;
	margin-left: 40px;*/
	position: absolute;
	bottom:3%;
	right:.5%;
	color: #afafaf;
	letter-spacing: .2em;
	}

#play{
	font-style: italic;
	font-size: 13px;
	color:#afafaf;
}

 #stop{
	font-size: 13px;
	color:#afafaf;
}

 #prev{
	font-size: 13px;
	color:#afafaf;
}
 #next{
	font-size: 13px;
	color:#afafaf;
}

#spacers {
	font-weight: bold;
	color:#afafaf;
	font-size: 13px;
}
.diy-slideshow {
	position: relative;
	display: block;
	overflow: hidden;
}

figure {position: absolute;
		opacity: 0;


}
figure.show {
	opacity: 1;
	position: static;

}

#socialMedia ul {
	font-size: 16px;
	padding-top: 5px;
	list-style-type: none;
	color: #DEDEDE;
}
#socialMedia a:link, #socialMedia a:visited {
	color: #DEDEDE;
}
#socialMedia a:hover {
color: #e4ae25;
	}
	
#socialMedia{
	position: fixed;
	right: 0;
	top: -4px;
	width: 72px;
}
/* small phone */

@media all and (min-width: 320px) and (max-width: 767px) {
	
	#header {
		width: 100%;
		margin-top: -8px;
	}

	#header img {
		padding: 2.5% 7.5% 0 7.5%;
		width: 85%;
	}

	#gallery {
		width: 100%;
		
		position: absolute;
		top: 157px;
		left: 0;
		right: 0;
		overflow: hidden;
		display:inline;
		
}
	#image1 , #image15, #image16, #image21, #image19, #image5, #image8 {
		
		width: 100%;
		height: auto;
}
	#galleryslide {
		max-width: 100%;
	
	}



	#nav {
		width: 92%;
		padding-left: 4%;
		margin-bottom: -16px;
		margin-top: -6px;
		line-height: 1.1;
	}
	
	ul {
		margin: auto;
		width: 100%;
	}

	#footer {
		bottom: 0pt; 
	 	right: 0pt;
	 	width: 100%;
	 	text-align: center;
	 
	 	position: fixed;

	
	}
	#footer p {
		font-size: 11px;
	}
	
	#ugandagallery, #vegasgallery {
		margin-top: 20px;
		margin-left: 0;
		
	}

	#vegasgallery {
		margin-top: 20px;
		margin-left: 0;
	}
	#vegasgallery img {
	height: 323px;
	}
	#ugandagallery img {
	height: 388px;
	}
#nav ul {
	line-height: 1em;
}

#bio {width: 100%;
	position: absolute;
	left:0;
	top:379px;
	
}
	#bio img {width:90%;
		margin-left: 5%;
		margin-right: 5%;
	

}
#about {
	width: 90%;
	height: auto;
	position: absolute;
	top: 173px;
	left: 5%;
	right:5%;
}
#signature {
	display: none;
}

#controls {
	top:144px;
	right:.5%;
	letter-spacing: .25em;
	}
	#ugandatext {
		width: 290px;
		padding-bottom: 15px;
	}
	#socialMedia ul{
	position: fixed;
	bottom: 13px;
	left:0;
}
/*landscape*/
@media all and (min-width: 320px) and (max-width: 767px) and (orientation : landscape){
	#header {
		width: 46%;
		margin-top: -8px;
		margin-left: -17px;
		margin-top: -6px;
	}

	#header img {
		padding: 2.5% 7.5% 0 7.5%;
		width: 100%;
	}
	
	#nav {
		padding-left: 1%;
		width:19%;
		line-height: 1.25;
	}


#gallery {
	width: 78%;
	height:100%;
	top:17%;
	right:0;
	left:122px;

}

	#image1 , #image15, #image16, #image21, #image19, #image5, #image8 {
		height:150%;
		width:auto;
}
	#image10, {
		width: 110%;
	}
#image15, #image15, #image21, #image16{
	width:100%;
	height: auto;
}
#footer {
	top:0;
	right: 3pt;
	text-align: right;
}

 #vegasgallery {
	height: 328px;
	position: absolute;
	top:153px;
	width: 10000px;
	overflow: scroll;
	}

	#ugandagallery {
	
	position: absolute;
	top:148px;
	width: 12361px;
	overflow: scroll;
	}
	#ugandagallery img {
	height: 368px;
	}

	#vegasgallery img {
	height: 328px;
	}
#bio {width: 210px;
	float:left;
	left:0;
	margin-left: 110px;
	top:0px;
	margin-top: 73px;
	
}
	#bio img {width:100%;
	
}
#about {
	width: 208px;
	height: auto;
	position: absolute;
	top: 37px;
	left: 0;
	right:0;
	margin-left: 337px;
	padding-right: 5px;
}
#signature {
	display: none;
}
#controls {
	right:1px;
	top:40px;
	
}
#socialMedia ul{

	bottom: 0;

}
	}

/* tablet */

@media only screen and (min-width: 768px) and (max-width: 1024px) {
	* {
		font-size: 20px;
	}
	#header {
		width: 40%;
	}

	#header img {
		padding: 2.5% 7.5% 0 7.5%;
		width: 74%;
		margin-left: -10px;
	}
#nav {
		width: 20%;
		padding-left: 10px;
	}
#navFirstpage {
		width:66%;
	}
#navFirstpage ul {
	line-height: 1em;
}
	ul {
		margin: auto;
		width: 100%;
	}

	#gallery {
		width: 100%;
		position: fixed;
		top: 82px;
		left:120px;
		overflow: scroll;
	}
	#gallery img {
		max-width: 88%;
	}

	.galleryslide1, .galleryslide  {
	
		top: 12px;
		margin: 0px 2.5%;
	}

	#nav ul {
		line-height: 1.25;
		font-size: 30px;

	}

	#adLineh {
		line-height: 1;
	}

	#bio {
		width: 31%;
		padding-top: 37px;
		padding-left: 10px;
}

	#bio img {
}
	#about {
padding-top: 27px;
padding-left: 27px;
}
	#signature {
	
}

#ugandatext {
	width: 46%;
}
@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation : portrait) {
	* {
		font-size: 24px;
		line-height: 1.25;
	}

	#header {
		width: 60%;
		margin-top: -8px;
	}

	#header img {
		padding: 2.5% 7.5% 0 7.5%;
		width: 85%;
		margin-left: -10px;
	}
	#nav {
		width: 56%;
		padding-left: 10px;
		margin-top: -1%;
		
	}

	#small{
	font-size: 14px;
}
	#gallery {
		top: 241px;
		left: 0px;
	}
	.galleryslide1, .galleryslide  {
	
		margin: 0 0;
	}

	#image1, #image5, #image19, #image8{
		width: 80%;
		right: 10%;
		margin-left: 0;
		margin-right: 0;
	}

	#nav {
		padding-left: 26px;
	}
	#gallery img {
		max-width: 100%;
	}
	#bio {
		width:60%;
		padding-top: 0x;
		padding-left: 91px;
		margin-top: -20px;
}

	#bio img {
		margin-top: -13px;	
}
	#about {
		position: absolute;
		top: 638px;
		left: 2.5%;
		right:2.5%;
		width: 95%;
		padding-top: 0;
		padding-left: 0; 
}
#controls {
	top:100px;
	top: 214px;
	letter-spacing: .2em;
}

}
	#ugandatext {
	width: 46%;
}
	

	@media only screen and (min-width : 800px) {
	* {
		font-size: 17px;
		line-height: 1.25;
	}

	#header {
		width: 47%;

	}
	#bio {
		margin-top: 0;
}
	#ugandatext {
	width: 46%;
}

}
	@media only screen and (min-width : 980px) and(max-width: 1024px){
	* {
		font-size: 17px;
		line-height: 1.25;
	}

	#header {
		width: 38%;
	}
	
	#bio {
		margin-top: -106px;
		    margin-left: 100px;
}


	#bio img {
		width:85%;
	}
		#ugandatext {
	width: 46%;
}
	
}


/*Medium Devices, Desktops 


Large Devices, Wide Screens
	@media only screen and (min-width : 1200px) {

	}


*/
